.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
public/build
database/database.sqlite
*.log
*.local
